<div class="general">
  <button class="btn-return" (click)="toReturn()">
    <i class="fa-solid fa-arrow-rotate-left"></i> To Return
  </button>

  <div class="general-content">
    <h2>{{ comic.title }}</h2>

    <div class="general-image">
      <img
        [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension"
        [alt]="comic.title"
        width="100%"
        height="100%"
      />
    </div>

    <div class="general-info">
      <h3>
        Price of the comic <span>{{ comic.price | currency }}</span>
      </h3>
      <p>
        {{
          comic.description ? comic.description : "No description available."
        }}
      </p>
      <div class="lists">
        <div *ngIf="comic.creators.items.length >= 1; else noAvailable">
          <h4>Creators</h4>
          <ul>
            <li *ngFor="let creator of comic.creators.items">
              {{ creator.name }} - <span>{{ creator.role }}</span>
            </li>
          </ul>
        </div>

        <ng-template #noAvailable>
          <h4>No creators information available.</h4>
        </ng-template>
      </div>
      <div class="lists">
        <h4>Characters</h4>
        <ul>
          <li
            *ngFor="let character of comic.characters.items"
            (click)="redirect('character', character.resourceURI)"
          >
            {{ character.name }}
          </li>
        </ul>
      </div>
      <div class="lists" *ngIf="comic.events.items.length">
        <h4>Events</h4>
        <ul>
          <li
            *ngFor="let event of comic.events.items"
            (click)="redirect('event', event.resourceURI)"
          >
            {{ event.name }}
          </li>
        </ul>
      </div>
      <div class="lists" *ngIf="comic.stories.items.length">
        <h4>Stories</h4>
        <ul>
          <li
            *ngFor="let event of comic.stories.items"
            (click)="redirect('storie', event.resourceURI)"
          >
            {{ event.name }}
          </li>
        </ul>
      </div>
      <div class="lists" *ngIf="comic.series">
        <h4>Series</h4>
        <ul>
          <li (click)="redirect('serie', comic.series.resourceURI)">
            {{ comic.series.name }}
          </li>
        </ul>
      </div>

      <h3>
        last modification of the comic in
        <span>{{ comic.modified | date: "Y/MMMM/dd" }}</span>
      </h3>
    </div>
  </div>
</div>
