<div class="comic">
  <div class="comic-content">
    <h2>{{ comic.title }}</h2>

    <div class="general-image">
      <img
        [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension"
        [alt]="comic.title"
        width="100%"
        height="100%"
      />
    </div>

    <div class="comic-info">
      <h3>
        Price of the comic <span>{{ comic.price | currency }}</span>
      </h3>
      <p>
        {{
          comic.description ? comic.description : "No description available."
        }}
      </p>
      <div class="lists">
        <div *ngIf="comic.creators.items.length >= 1; else noAvailable">
          <h4>Creators</h4>
          <ul>
            <li *ngFor="let creator of comic.creators.items">
              {{ creator.name }} - <span>{{ creator.role }}</span>
            </li>
          </ul>
        </div>

        <ng-template #noAvailable>
          <h4>No creators information available.</h4>
        </ng-template>
      </div>
      <div class="lists">
        <h4>Characters</h4>
        <ul>
          <li
            class="pointer"
            *ngFor="let character of comic.characters.items"
            (click)="seeCharacter(character.resourceURI)"
          >
            {{ character.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
