.home-page {
  position: relative;
  padding-top: 3.75rem;
  width: 100%;

  .home-page_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 2rem;
    width: 100%;
  }
}

@media (max-width: 43.688rem) {
  .home-page {
    padding-top: 8rem;
  }
}
