.character {
  position: relative;
  padding-top: 3.75rem;
  width: 100%;

  .character-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;

    h2 {
      font-size: 2.4rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .character-info {
      width: 100%;

      h3 {
        color: #222;
        font-size: 1.6rem;
        font-weight: 500;
        margin-top: 1rem;

        span {
          color: #ff0000;
          font-weight: 600;
        }
      }

      .modified {
        text-align: center;
      }
    }

    .tabs {
      margin-top: 2rem;
      position: relative;
      width: 100%;

      .tab-header {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-between;
        margin: 0;
        padding: 0;

        .tab {
          border-radius: 5px;
          color: #222;
          cursor: pointer;
          font-size: 1.6rem;
          font-weight: 500;
          position: relative;
          padding: 0.8rem 1rem;
          transition: all 0.3s ease-in-out;

          &::before,
          &::after {
            border-radius: 5px;
            content: "";
            height: 0%;
            position: absolute;
            transition: all 0.3s ease-in-out;
            width: 0%;
            z-index: -1;
          }

          &::before {
            border-top: 3px solid transparent;
            border-left: 3px solid transparent;
            left: 0;
            top: 0;
          }

          &::after {
            border-bottom: 3px solid transparent;
            border-right: 3px solid transparent;
            bottom: 0;
            right: 0;
          }

          i {
            padding-right: 1px;
            transition: all 0.3s ease-in-out;
          }

          &:hover {
            transform: scale3d(1.2, 1.2, 1);

            i {
              color: #ff0000;
              transform: scale3d(1.2, 1.2, 1);
            }

            &::before,
            &::after {
              height: 60%;
              width: 50%;
            }

            &::before {
              border-top-color: #ff0000;
              border-left-color: #222;
            }

            &::after {
              border-bottom-color: #222;
              border-right-color: #ff0000;
            }
          }
        }

        .tabActive {
          transform: scale3d(1.2, 1.2, 1);

          i {
            color: #ff0000;
            transform: scale3d(1.2, 1.2, 1);
          }

          &::before,
          &::after {
            content: "";
            height: 80%;
            width: 80%;
          }

          &::before {
            border-top-color: #ff0000;
            border-left-color: #222;
          }

          &::after {
            border-bottom-color: #222;
            border-right-color: #ff0000;
          }

          &:hover {
            &::before,
            &::after {
              height: 80%;
              width: 80%;
            }
          }
        }
      }

      .tab-content {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-top: 3rem;
        position: relative;
        padding: 1rem;
        width: 100%;

        h3 {
          color: #222;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
    }
  }
}

@media (max-width: 43.688rem) {
  .character {
    padding-top: 8rem;

    .tabs {
      .tab-header {
        flex-direction: column;

        .tab {
          width: 150px;
          margin-bottom: 1.5rem;
          text-align: center;
        }
      }

      .tab-content {
        margin-top: 1rem !important;
      }
    }
  }
}
