// Font imports
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #faf2f2;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h2 {
  color: #ff0000;
  text-align: center;
}

p,
a,
li,
input,
button {
  font-family: "Inter", sans-serif;
}

p {
  color: #222;
  font-size: 1.25rem;
  margin: 0;
  margin-top: 5px;

  span {
    color: #ff0000;
    font-weight: 500;
  }
}

button {
  background-color: #ff0000;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #faf2f2;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;

  i {
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-color: #faf2f2;
    border-color: #ff0000;
    color: #ff0000;
    transform: scale3d(1.1, 1.1, 1);

    i {
      transform: rotate(360deg);
    }
  }
}

.lists {
  margin-top: 1rem;

  h4 {
    color: #222;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      color: #222;
      cursor: pointer;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      padding-left: 1rem;
      transition: all 0.3s ease-in-out;

      span {
        color: #ff0000;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        color: #ff0000;

        span {
          color: #222;
        }

        &::before {
          background-color: #222;
        }
      }

      &:before {
        background-color: #ff0000;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 10px;
        margin-right: 0.5rem;
        transition: all 0.3s ease-in-out;
        width: 10px;
      }
    }
  }
}

.general-image {
  height: 500px;
  margin-bottom: 3rem;
  width: 50%;

  img {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}

.btn-return {
  margin-top: 2rem;
  margin-left: 1rem;
  position: absolute;
}

.general {
  position: relative;
  padding-top: 3.75rem;
  width: 100%;

  .general-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;

    h2 {
      font-size: 2.4rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .general-info {
      width: 100%;

      h3 {
        color: #222;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1rem;
        text-align: center;

        span {
          color: #ff0000;
          font-weight: 600;
        }
      }
    }
  }
}

@media (max-width: 43.688rem) {
  .general {
    padding-top: 8rem;
  }

  .general-image {
    width: 100%;
  }

  .btn-return {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    position: relative;
  }
}
