<footer>
  <div class="footer-content">
    <div class="footer-logo">
      <img src="assets/image/logo.png" alt="logo" width="100%" height="100%" />
    </div>
    <div class="footer-text">
      <h2>Marvel Application</h2>
      <p>
        This application was built with the purpose of practicing the
        consumption of APIs in <span>Angular</span>.
      </p>
    </div>
    <div class="footer-social_networks">
      <a
        href="https://github.com/JuanWebDeveloper"
        target="_blank"
        rel="noreferrer"
        class="btn-network"
      >
        <div class="icon">
          <i class="fab fa-github"></i>
        </div>
        <p>GitHub</p>
      </a>
      <a
        href="https://www.linkedin.com/in/juan-fernando-vargas-garces-a4a22720b/"
        target="_blank"
        rel="noreferrer"
        class="btn-network"
      >
        <div class="icon">
          <i class="fab fa-linkedin"></i>
        </div>
        <p>Linkedin</p>
      </a>
      <a
        href="mailto:juandeveloper19@gmail.com"
        rel="noreferrer"
        class="btn-network"
      >
        <div class="icon">
          <i class="fas fa-envelope"></i>
        </div>
        <p>Email</p>
      </a>
    </div>
  </div>
  <div class="footer-copy">
    <p>
      &copy; Juan Fernando Vargas Garces 2022.<span>All rights reserved.</span>
    </p>
  </div>
</footer>
